---
- name: Get Pyenv install script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/pyenv/pyenv-installer/master/bin/pyenv-installer
    dest: "{{ pyenv_install_script }}"
    mode: "0755"
  become: true

- name: Execute Pyenv install script
  ansible.builtin.command:
    argv:
      - ./{{ pyenv_install_script }}

- name: Attach defaults to .zshrc
  ansible.builtin.blockinfile:
    path: .zshrc
    block: |
      export PYENV_ROOT="$HOME/.pyenv"
      command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
      eval "$(pyenv init -)"

    